@import "../../styles/mixins";

.sj-modal-create {
  &-form {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__input {
    flex: 1 1 100%;
    max-width: 100%;
    margin-right: rem(8px);
  }

  &__submit {
    flex: 0 0 rem(120px);
    max-width: rem(120px);
  }
}
