$root-font-size: 16px;
$root-font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;

$cBlack: #000000;
$cWhite: #ffffff;
$cPrimary: #00aa87;
$cPrimaryHover: #00816c;
$cPrimaryActive: #00826c;
$cSecondary: rgba($cBlack, 0.37);
$cSecondaryHover: rgba($cBlack, 0.47);
$cSecondaryActive: rgba($cBlack, 0.87);
$cError: #f05c5c;
$cBgColor: #f2f2f2;
$cHeadingBlack: #1a1818;

